:root {
  --blue: #0BAAE3;
  --light-blue: #00D6F0;
  --green: #00D6CD;
  --light-green: #0CF0BE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 18px;
  background-color: var(--green);
  color: #fff;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1080px;
  margin: 50px auto;
}
.container > div {
  background-color: var(--blue);
  width: 30%;
  margin: 20px 0;
  border-radius: 10px;
}
.container > div h3 {
  background-color: var(--light-blue);
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.container > div ul {
  list-style: none;
  padding: 15px;
}
.container > div ul li {
  margin: 15px 0;
}
.container > div ul li a {
  color: #fff;
  text-decoration: none;
}
.container > div ul li a:hover {
  text-decoration: underline;
}